<div class="row">
  <div class="col-md-12">
    <br />
    <h2>Courses</h2>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>Course Code</td>
            <td>Course Description</td>
          </tr>
        </thead>
        <tbody>
          {{#each courses}}
            <tr>
              <td><a href="/course/{{this.courseId}}" />{{this.courseCode}}
              </td>
              <td><a
                  href="/students?course={{this.courseId}}"
                />{{this.courseDescription}}</td>
            </tr>

          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12 text-center">
    {{#unless courses}}

      <strong>{{message}}</strong>
    {{/unless}}

  </div>
</div>